<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_item_page</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/createitem.css">
    <!-- <style>
      @font-face {
    src: url("./PermanentMarker-Regular.ttf") ;
    font-family: "PermanentMarker-Regular";
      }

      @font-face {
          font-family: "DungGeunMo";
          src: url("../genesisFunction/images/font/DungGeunMo.ttf");
      }

      * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          list-style: none; /*리스트 기호 지우기*/
          text-decoration: none; /*밑줄지우기*/
          background-color: rgb(255, 239, 59);
      }

      body {
          margin: auto;
          width: 95%;
          height: 100%;
      }
      .header {
          border-bottom: 7px solid black;
          height: 12vh;
          display: flex;
          font-family: 'WalterTurncoat-Regular.ttf';
      }

      .headLeft {
          width: 45%;
          height: 100%;
          position: relative;
      }

      .headLeft_container{
          padding-top: 2%;
          padding-bottom: 2%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100%;
          width: 100%;
          position: absolute;
      }

      .logo-container{
          width: 30%;
          height: 100%;
      }

      .logo-container img{
          width: 100%;
          height: 100%;
      }

      .headSearch-container{
          width: 70%;
          height: 100%;
          display: flex;
          align-items: center;
      }

      .headSearch-container input{
          background-color: white;
          border: solid 3px rgb(206, 204, 204);
          width: 100%;
          height: 60%;
      }
      /* IE의 경우 */
      input::-ms-clear,
      input::-ms-reveal{
          display:none;
      }
      /* 크롬의 경우 */
      input::-webkit-search-decoration,
      input::-webkit-search-cancel-button,
      input::-webkit-search-results-button,
      input::-webkit-search-results-decoration{
          display:none;
      }

      .headRight {
          width: 55%;
          height: 100%;
          position: relative;
      }

      .headRight_container{
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100%;
          width: 100%;
          position: absolute;
      }

      .mypage-container img{
          width: 70%;
      }

      .main {
          border-top: 3px solid white;
          border-bottom: 7px solid black;
          height: 75vh;
          display: flex;
      }

      .footer {
          border-top: 3px solid white;
          height: 13vh;
          display: flex;
      }

      .footerLeft {
          width: 60%;
          height: 100%;
          position: relative;
      }

      .footerLeft_container{
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100%;
          width: 100%;
          position: absolute;
      }

      .footerLeft_container div{
          padding-top: 1%;
      }

      .footerLeft_container .vault{
          width: 35%;
          height: 100%;
      }

      .footerLeft_container .suggestions{
          width: 22%;
          height: 100%;
      }

      .footerLeft_container .resources{
          width: 23%;
          height: 100%;
      }

      .footerLeft_container .company{
          width: 20%;
          height: 100%;
      }

      .footerLeft_container p{
          font-size: xx-small;
      }

      .footerRight {
          width: 40%;
          height: 100%;
          position: relative;
      }

      .footerRight_container{
          padding: 1%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100%;
          width: 100%;
          position: absolute;
      }

      .empty_space {
          width: 30%;
      }
      .join_community{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 70%;
          height: 100%;
      }

      .join_community #join_p{
          font-size: 0.8rem;
          font-weight: bold;
          text-align: left;
          height: 20%;
          width: 100%;
      }

      .join_community #join_i{
          height: 80%;
          width: 100%;
          display: flex;
          justify-content: space-around;
      }

      #join_i div{
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
      }

      #join_i div img{
          width: 60%;
          height: 60%;
      }
      /* ============================= */

     #createNFTmain { /*크리에이트페이지 메인설정*/
    display: flex;
    align-content: center;
    justify-content: center;
    }

    .createNFT-container { /*구조만 grid로 구현*/
        width: 60%;
        display: grid;
        grid-template-columns: 3fr 6fr 1fr;
        grid-template-rows: repeat(4, 1fr), 3fr, repeat(2, 1fr);
    }

    .mnstruc:nth-child(1) { /*contenthd*/
        grid-column: 1/3;
        background-color: rgb(255, 61, 45);
        border: 5px solid black;
        display: flex;
        align-items: center;
        /* font-family:Arial, Helvetica, sans-serif; */
        font-size: 1.3em; 
    }

    
    .mnstruc:nth-child(1) input {
        
        border: none;
        background-color: rgb(255, 61, 45);
        font-size: 20px;
        color: black;
    }

    .mnstruc:nth-child(1) label {
        
        border: none;
        background-color: rgb(255, 61, 45);
        font-size: 20px;
        
    }

    .mnstruc:nth-child(3) { /*create_imgupload*/
        grid-row: 2/4;
        background-color: rgb(255, 255, 255);
        border-left: 5px solid black;
        border-right: 5px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #uploadimg {  /*이미지 사이즈조절*/
        width: 50%;
        height: 80%;
    }

    .mnstruc:nth-child(4) { /*create_nftNum*/
        background-color: rgb(80, 186, 248);
        border-right: 5px solid black;
        border-bottom: 5px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-family:Arial, Helvetica, sans-serif; */
        font-size: 1em;
    }

    .mnstruc:nth-child(4) p { /*create_nftNum*/
    width: 300px;
    border: none;
    background-color: rgb(80, 186, 248);
    font-size: 20px;
    text-align: center;
    }

    .mnstruc:nth-child(4) label { /*create_nftNum*/
    
        border: none;
        background-color: rgb(80, 186, 248);
        font-size: 20px;
    }
    



    .mnstruc:nth-child(5) { /*create_nftPrice*/
        background-color: rgb(238, 238, 238);
        border-right: 5px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-family:Arial, Helvetica, sans-serif; */
        font-size: 1em;
    }

    .mnstruc:nth-child(5) p { /*create_nftPrice*/
        width: 300px;
        border: none;
        background-color: rgb(238, 238, 238);
        font-size: 20px;
        text-align: center;
    }

    .mnstruc:nth-child(5) label { /*create_nftPrice*/
        border: none;
        background-color: rgb(238, 238, 238);
        font-size: 20px;
    }

    .mnstruc:nth-child(6) { /*공백부분*/
        grid-column: 3;
        grid-row: 2/6;
    }

    .mnstruc:nth-child(7), .mnstruc:nth-child(9) { /*contenthd*/
        grid-column: 1/3;
        background-color: rgb(80, 186, 248);
        border: 5px solid black;
        display: flex;
        align-items: center;
        /* font-family:Arial, Helvetica, sans-serif; */
        font-size: 1.3em;
    }

    /* .mnstruc:nth-child(7) input {
        width: 500px;
        border: none;
        background-color: rgb(80, 186, 248);
        font-size: 20px;
        text-align: center;
    } */

    .mnstruc:nth-child(8) { /*create_nftDescrip*/
        grid-column: 1/3;
        background-color: rgb(238, 238, 238);
        border-left: 5px solid black;
        border-right: 5px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-family:Arial, Helvetica, sans-serif; */
        font-size: 1em;
    }

    .mnstruc:nth-child(8) p { /*create_nftDescrip*/
        width: 500px;
        border: none;
        background-color: rgb(238, 238, 238);
        font-size: 20px;
        text-align: center;
    }

    .mnstruc:nth-child(8) label { /*create_nftDescrip*/
        border: none;
        background-color: rgb(238, 238, 238);
        font-size: 20px;
    }

    .mnstruc:nth-child(10) { /*windflow*/
        display: flex;
        align-content: flex-end;
    }

    .mnstruc:nth-child(11) { /*create_submit*/
        grid-column: 1/3;
        display: flex;
        justify-content: flex-end;
    }

    #contenthd { /*폰트설정해야 하양바탕에 검정글씨*/
        padding-left: 20px;
    }

    .submitButt { /*제출버튼*/
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 2px;
        border: 5px solid black;
        background-color: red;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1em; 
        width: 70px; /*제출버튼사이즈 조절*/
    }

    #contenthd3 {
        grid-column: 1/3;
        background-color: rgb(80, 186, 248);
        border: 5px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-family:Arial, Helvetica, sans-serif; */
        font-size: 1.3em;
    }

    #contenthd3 p {
        width: 500px;
        border: none;
        background-color: rgb(80, 186, 248);
        font-size: 20px;
        text-align: center;
    }

    #contenthd3 label {
        
        border: none;
        background-color: rgb(80, 186, 248);
        font-size: 20px;
        
    }
    </style> -->
</head>
<body>
    <header>
        <div class="header">
            <div class="headLeft">
                <div class="headLeft_container">
                    <div class="logo-container">
                        <a href="/"><img src="/assets/logo/toplogo.svg"></a>
                    </div>
                    <div class="headSearch-container">
                        <input type="search" placeholder="SEARCH">
                    </div>
                </div>
            </div>
            <div class="headRight">
                <div class="headRight_container">
                    <div><a href="/board">EXPLORE</a></div>
                    <div><a href="/board/insert">CREATE</a></div>
                    <div class="mypage-container">
                        <a>
                            <img src="/assets/icons/Emoji/happy,smile,happy face,smiley,emoji,smile dizzy,.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <form method="post">
            <div class="main" id="createNFTmain">
                <div class="createNFT-container">
                    <div class="mnstruc" id="contenthd"> 
                        <label>Id : </label>
                        <input type="text" name="id" value=" <%= data.id %>" disabled >
                    </div> 
                    <div class="mnstruc">
                        <img id="windflow">
                    </div>
                    <div class="mnstruc" id="create_imgupload">
                        <input name="myImage" type="file">
                    </div>
                    <div class="mnstruc" id="create_nftNum">
                        <label>TITLE : </label>
                        <p><%= data.title %></p>
                    </div>
                    <div class="mnstruc" id="create_nftPrice">
                        <label>PRICE : </label>
                        <p><%= data.price %></p>
                    </div>
                    <div class="mnstruc"></div>
                    <div class="mnstruc" id="contenthd">
                        Description
                    </div>
                    <div class="mnstruc" id="create_nftDescrip">
                        <label>DESCRIPTION : </label>
                        <p><%= data.description %></p>
                    </div>
                    <div class="mnstruc" id="contenthd3">
                        <label>TAG : </label>
                        <p><%= data.tag %></p>
                    </div>
                    <div class="mnstruc">
                        <img id="windflow" src="">
                        <!--windflow이미지 바꿔야!!!-->
                    </div>
                    <div class="mnstruc">
                        <input class="submitButt" id="create_submit" type ="submit" value="Submit">
                        <!-- submit폰트? 하양바탕에 검정글씨 찾아야... -->
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer">
            <div class="footerLeft">
                <div class="footerLeft_container">
                    <div class="vault">
                        <p>VAULT
                        <br>THE KLAYTN NETWORK'S FIRST AND LARGEST
                        <br>DIGITAL MARKETPLACE FOR CRYPTO COLLECTIBLES
                        <br>AND NON-FUNGIBLE TOKENS (NFTs).
                        <br>BUY, SELL, AND DISCOVER EXCLUSIVE DIGITAL ITEMS.</p>
                    </div>
                    <div class="suggestions">
                        <p>SUGGESTIONS
                        <br>DISCORD COMMUNITY
                        <br>BLOG
                        <br>DOCS
                        <br>NEWSLETTER
                        </p>
                    </div>
                    <div class="resources">
                        <p>resources
                        <br>HELP CENTER
                        <br>PLATFORM STATUS
                        <br>PARTNERS
                        <br>GAS-FREE MARKETPLACE
                        </p>
                    </div>
                    <div class="company">
                        <p>COMPANY
                        <br>ABOUT
                        <br>CAREERS
                        </p>
                    </div>
                </div>
            </div>
            <div class="footerRight">
                <div class="footerRight_container">
                    <div class="empty_space"></div>
                    <div class="join_community">
                        <div id="join_p">Join THE COMMUNITY</div>
                        <div id="join_i">
                            <div><img src="/assets/icons/Twitter - Negative.svg"></div>
                            <div><img src="/assets/icons/Discord - Negative.svg"></div>
                            <div><img src="/assets/icons/Instagram - Negative.svg"></div>
                            <div><img src="/assets/icons/Telegram - Negative.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>