<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Music Data</title>
</head>
<body>
  <h1>Edit NFT Info</h1>
  <hr/>
  <form method="post">
    <fieldset>
      <legend>Edit NFT Info</legend>
      <table>
        <tr>
          <td><label>Id</label></td>
          <td><input type="text" name="id" value="<%= data.id %>" disabled ></td>
        </tr>
        <tr>
          <td><label>Title</label></td>
          <td><input type="text" name="title" value="<%= data.title %>" ></td>
        </tr>
        <tr>
          <td><label>Price</label></td>
          <td><input type="text" name="price" value="<%= data.price %>" ></td>
        </tr>
        <tr>
          <td><label>Description</label></td>
          <td><input type="text" name="description" value="<%= data.description %>" ></td>
        </tr>
        <tr>
          <td><label>Tag</label></td>
          <td><input type="text" name="tag" value="<%= data.tag %>" ></td>
        </tr>
      </table>
      <input type="submit" value="Submit!" />
    </fieldset>
  </form>
</body>
</html>