<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_item_page</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/edit.css">
    <!-- <link rel="stylesheet" href="/css/mypage.css"> -->
    <!-- <script src="./myPagePop.js"></script> -->
</head>
<body>
    <header>
        <div class="header">
            <div class="headLeft">
                <div class="headLeft_container">
                    <div class="logo-container">
                        <a href="/"><img src="/assets/logo/toplogo.svg"></a>
                    </div>
                    <form action="/" method="get"></form>
                        <div class="headSearch-container">
                            <input type="search" placeholder="SEARCH">
                        </div>
                    </form>
                </div>
            </div>
            <div class="headRight">
                <div class="headRight_container">
                    <div><a href="/explore">EXPLORE</a></div>
                    <div><a href="/board/create">CREATE</a></div>
                    <div><a href="/board">AUCTION</a></div>
                    <div><a href="/mypage">MYPAGE</a></div>
                    <div class="mypage-container">
                        <a href="/login"><img src="/assets/icons/Emoji/happy,smile,happy face,smiley,emoji,smile dizzy,.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <form method="post">
            <div class="main" id="createNFTmain">
                <div class="createNFT-container">
                    <div class="mnstruc" id="contenthd"> 
                        <label>ID : </label>
                        <input type="text" name="id" value=" <%= data.id %>" disabled >
                    </div> 
                    <div class="mnstruc">
                        <img id="windflow">
                    </div>
                    <div class="mnstruc" id="create_imgupload">
                        <input name="myImage" type="file">
                    </div>
                    <div class="mnstruc" id="create_nftNum">
                        <label>TITLE : </label>
                        <input type="text" name="title" value="<%= data.title %>">
                    </div>
                    <div class="mnstruc" id="create_nftPrice">
                        <label>PRICE : </label>
                        <input type="text" name="price" value="<%= data.price %>">
                    </div>
                    <div class="mnstruc"></div>
                    <div class="mnstruc" id="contenthd">
                        Description
                    </div>
                    <div class="mnstruc" id="create_nftDescrip">
                        <label>DESCRIPTION : </label>
                        <input type="text" name="description" value="<%= data.description %>">
                    </div>
                    <div class="mnstruc" id="contenthd3">
                        <label>TAG : </label>
                        <input type="text" name="tag" value="<%= data.tag %>" >
                    </div>
                    <div class="mnstruc">
                        <img id="windflow" src="">
                        <!--windflow이미지 바꿔야!!!-->
                    </div>
                    <div class="mnstruc">
                        <input class="submitButt" id="create_submit" type ="submit" value="Submit">
                        <!-- submit폰트? 하양바탕에 검정글씨 찾아야... -->
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer">
            <div class="footerLeft">
                <div class="footerLeft_container">
                    <div class="vault">
                        <p>VAULT
                        <br>THE KLAYTN NETWORK'S FIRST AND LARGEST
                        <br>DIGITAL MARKETPLACE FOR CRYPTO COLLECTIBLES
                        <br>AND NON-FUNGIBLE TOKENS (NFTs).
                        <br>BUY, SELL, AND DISCOVER EXCLUSIVE DIGITAL ITEMS.</p>
                    </div>
                    <div class="suggestions">
                        <p>SUGGESTIONS
                        <br>DISCORD COMMUNITY
                        <br>BLOG
                        <br>DOCS
                        <br>NEWSLETTER
                        </p>
                    </div>
                    <div class="resources">
                        <p>resources
                        <br>HELP CENTER
                        <br>PLATFORM STATUS
                        <br>PARTNERS
                        <br>GAS-FREE MARKETPLACE
                        </p>
                    </div>
                    <div class="company">
                        <p>COMPANY
                        <br>ABOUT
                        <br>CAREERS
                        </p>
                    </div>
                </div>
            </div>
            <div class="footerRight">
                <div class="footerRight_container">
                    <div class="empty_space"></div>
                    <div class="join_community">
                        <div id="join_p">Join THE COMMUNITY</div>
                        <div id="join_i">
                            <div><img src="/assets/icons/Twitter - Negative.svg"></div>
                            <div><img src="/assets/icons/Discord - Negative.svg"></div>
                            <div><img src="/assets/icons/Instagram - Negative.svg"></div>
                            <div><img src="/assets/icons/Telegram - Negative.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>