<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Page</title>
</head>
<body>
  <h1>NFT List</h1>
  <!-- <a href="/board/insert">Add your NFT</a> -->
  <hr/>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>PRICE</th>
      <th>DESCRIPTION</th>
      <th>TAG</th>
      <th>DELETE</th>   
      <th>EDIT</th>
    </tr>
    <% data.forEach(function (item, index) { %>
    <tr>
      
      <td><%= item.id %></td>
      <td><%= item.title %></td>
      <td><%= item.price %></td>
      <!-- <td><%= item.genre %></td> -->
      <td><%= item.description %></td>
      <td><%= item.tag %></td>
      <td><a href="/board/delete/<%= item.id%>">DELETE</a></td>
      <td><a href="/board/edit/<%= item.id %>">EDIT</a></td>
    </tr>
    <% }); %>

  
  </table>
</body>
</html>